<odoo>
    <data noupdate="0">

        <!-- Rename top-level "Time Off" -> "Leave" -->
        <record id="hr_holidays.menu_hr_holidays_root" model="ir.ui.menu" forcecreate="False">
            <field name="name">Leave</field>
        </record>

        <!-- Rename "My Time Off" -> "My Leave" -->
        <record id="hr_holidays.menu_hr_holidays_my_leaves" model="ir.ui.menu" forcecreate="False">
            <field name="name">My Leave</field>
        </record>

        <!-- Rename "My Time Off" -> "My Leave" -->
        <record id="hr_holidays.hr_leave_menu_my" model="ir.ui.menu" forcecreate="False">
            <field name="name">My Leave</field>
        </record>

        <record id="hr_holidays.menu_hr_holidays_management" model="ir.ui.menu">
            <field name="groups_id" eval="[(6, 0, [ref('hr_holidays.group_hr_holidays_user'), ref('hr_holidays.group_hr_holidays_manager'), ref('base.group_system')])]"/>
        </record>
    </data>
</odoo>
